#globalContainer {
	background-color:lightgrey;
	width:80%;
	height:100%;
	height:95vh;
	margin:0 auto;
	padding-top:10px;
}

label {
	display:block;
}

.header, .moreAboutUs {
	color:blue;
	text-align:center;
}

.signUp {
	width:30%;
	min-width:220px;
	margin:0 auto;
	text-align:center;
}

.walkthrough img {
	width:80%;
}

.hideMe {
	display:none;
}

.showMe {
	display:all;
}
